<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.grinnell.grinnellsandb"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/sandblogo_a2"
        android:label="@string/app_name"
        android:theme="@style/Theme.Grin" >
        <activity
            android:name="edu.grinnell.sandb.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.grinnell.sandb.ArticleDetailActivity"
            android:label="@string/title_article_detail" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.grinnell.sandb.MainActivity" />
        </activity>

        <service
            android:name="edu.grinnell.sandb.xmlpull.XmlPullService"
            android:exported="false" />

        <receiver
            android:name="edu.grinnell.sandb.xmlpull.XmlPullReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="edu.grinnell.sandb.xmlpull.FEED_PROCESSED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="edu.grinnell.grinnellsandb.ImageViewer"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_image_viewer"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity android:name="edu.grinnell.sandb.ImagePagerActivity" >
        </activity>
    </application>

</manifest>